* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: solid 1px red;*/
}
header, section, footer {
  padding: 20px;
}

header {
    display: flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
ul {
    list-style: none;
}
li, button {
  cursor: pointer;
}

header ul {display: none;}

header ul li:not(:last-child) {
    margin-right: 20px;
}

img {
    display: block;
  }

  .red {
      color: red;
  }

.hamburger {
width: 40px;
}

.hamburger img {
max-width: 100%;
cursor: pointer;
}

h1, p {
  margin-bottom: 30px;
}

h1 {
  font-size: 40px;
}

h4 {
  color: #555555;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero h1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hero {
  position: relative;
}

.hero h1, .hero p {
max-width: 60%;
}

a {
    color: black;
    text-decoration:underline black;
}

button {
  background-color: white;
  padding: 10px 30px;
  border: solid orange 2px;
  border-radius: 30px;
  margin-bottom: 30px;
}

.pink-text {
  text-transform: uppercase;
  color: #FF3998;
  font-weight: bold;
}

.hero img {
  position: absolute;
  max-width: 80%;
  z-index: -1;
  top: -10%;
  right: -35%;
}

.grey-text {
  color: #777777;
}

.upsell {
  background-image: url("./assets/background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.upsell h1, .showcase h1 {
  margin-top: 30px;
  font-weight: lighter;
}

.press {
    margin-top: 50px;
display: grid;
grid-template-areas: 
"boomerang blimp"
"qrco droplet";
max-width: 100%;
padding: 20px;
}

.press-logos {
    padding: 10px;
}

.press-logos img {
  display: block;
max-width: 100%;}

.opendoor {
    display: none;
}
.showcase-cards {
  display: flex;
  column-gap: 30px;
  }

div.Purpleman {
  display: block;
}

div.Beige {
  display: none;
}

div.Redman {
  display: none;
}

div.Green {
  display: none;
}

.card {
    border-radius: 30px;
    max-width: 210px;
    max-height: 350px;
   }

   .image {
    background-color: black;
    max-width: 100%;
       }

       .image img {
           display: block;
           object-fit: cover;
           width: 100%;
       }

   .price-tag {
       background-color: #EEEEEE;
       padding: 20px;
       min-width: 100%;
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       gap: 20px;
   }
.price {position: relative;}

   img.inline {
       display: inline-block;
      position: absolute;
      left: -15px;
   }
   .gloop {
       color: #FF8139;
}
.small-font {
    font-size: small; 
}

.greytext {
  color: #777777;
}

.boldtext{
  font-weight: bold;
  /*font-size: 18px;*/
}

.footer-upsell {
  position: relative;
  border-bottom: #777777 solid 1px;
  border-top: #777777 solid 1px;
}

.footer-upsell h1, .footer-upsell p {
  max-width: 50%;
  }

.footer-upsell img {
  position: absolute;
  max-width: 30%;
  z-index: -1;
  top: 10%;
  right: 10%;
}

.exclusive {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul.icons {
  display: flex;
  }

  .icons li {
    margin-right: 10px;
  }

  .bottom-line {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .launching {display: none;}
      
@media only screen and (min-width: 550px) {

div.Purpleman {
  display: block;
}

div.Beige {
  display: block;
}

div.Redman {
  display: none;
}

div.Green {
  display: none;
}}

@media only screen and (min-width: 700px) {

  div.Purpleman {
    display: block;
  }
  
  div.Beige {
    display: block;
  }
  
  div.Redman {
    display: block;
  }
  
  div.Green {
    display: none;
  }}

  @media only screen and (min-width: 800px) {
    header ul {
      display: flex;
    }
    .hamburger {
      display: none;
    }
    .hero h1 {
        font-size: 70px;
    }

    .hero img {
        position: absolute;
        max-width: 30%;
        z-index: 0;
        top: -20%;
        right: 0;
      }

    .press {
        display: flex;
        justify-content: space-between;
    }
    .opendoor {
        display: block;
    }
    .showcase-cards {
      display: flex;
      column-gap: 30px;
    }

    div.Purpleman {
      display: block;
    }
    
    div.Beige {
      display: block;
    }
    
    div.Redman {
      display: block;
    }
    
    div.Green {
      display: block;
    }

    .footer-upsell img {
      position: absolute;
      max-height: 100%;
      top: 0;
      right: 10%;
    }
    
    .bottom-line {
      display: flex;
      justify-content: space-between;
    }

    .launching {display: block;}
  }
